<div class="col-lg-8">
    <div class="card-body form clr-form">
        <!--Header-->
        <!--<div class="formHeader mb-1 pt-3">
            <h5>
                <i class="fa fa-envelope"></i> {{__SELF__.result.form_title}}</h5>
        </div>-->

        <div class="formHeader mb-1 pt-3"
             style="{% if __SELF__.result.form_header_padding %}padding: {{ __SELF__.result.form_header_padding }} !important;{% endif %}">
            <h5 class="cph {{__SELF__.result.title_color}}"
                style="margin-top:20px;{% if __SELF__.result.use_title_color_override %}color: {{ __SELF__.result.title_color_override }} !important;{% endif %}{% if __SELF__.result.title_font_size %}font-size: {{ __SELF__.result.title_font_size }} !important;{% endif %}{% if __SELF__.result.title_font_weight %}font-weight: {{ __SELF__.result.title_font_weight }} !important;{% endif %}">
                <i class="fa fa-envelope"></i> {{__SELF__.result.form_title}}
            </h5>
        </div>

        <br>

        <form id="simpleContactForm" class="wow" data-request="{{ __SELF__ }}::onFormSubmit">

            {{ form_token() }}
            {{ form_session_key() }}

            <div id="simple_contact_flash_message"></div>
            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6">
                    <div class="md-form">
                        <input type="text" id="name" name="name" class="form-control">
                        <label for="name">{{__SELF__.languageProperties.namePlaceholder}}</label>
                        <!--<span data-validate-for="name" class="contact-validate-error_message">{{__SELF__.languageProperties.nameError}}</span>-->
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6">
                    <div class="md-form">
                        <input type="email" id="email" name="email" class="form-control">
                        <label for="email">{{__SELF__.languageProperties.emailPlaceholder}}</label>
                        <!--<span data-validate-for="email" class="contact-validate-error_message">{{__SELF__.languageProperties.emailError}}</span>-->
                    </div>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                {% if(__SELF__.languageProperties.phoneEnabled) %}
                <div class="col-md-6">

                    <div class="md-form">
                        <input type="text" id="phone" name="phone" class="form-control">
                        <label for="phone">{{__SELF__.languageProperties.phonePlaceholder}}</label>
                        <!--<span data-validate-for="phone" class="contact-validate-error_message">{{__SELF__.languageProperties.phoneError}}</span>-->
                    </div>

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6">
                    <div class="md-form">
                        <input type="text" id="subject" name="subject" class="form-control">
                        <label for="subject">{{__SELF__.languageProperties.subjectPlaceholder}}</label>
                        <!--<span data-validate-for="subject" class="contact-validate-error_message">{{__SELF__.languageProperties.subjectError}}</span>-->
                    </div>
                </div>
                <!--Grid column-->
                {% else %}
                <!--Grid column-->
                <div class="col-md-12">
                    <div class="md-form">
                        <input type="text" id="subject" name="subject" class="form-control">
                        <label for="subject">{{__SELF__.languageProperties.subjectPlaceholder}}</label>
                        <!--<span data-validate-for="subject" class="contact-validate-error_message">{{__SELF__.languageProperties.subjectError}}</span>-->
                    </div>
                </div>
                <!--Grid column-->
                {% endif %}

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-12">

                    <div class="md-form">
                        <textarea id="message" name="message" class="form-control md-textarea" rows="3"></textarea>
                        <label for="message">{{__SELF__.languageProperties.messagePlaceholder}}</label>
                        <!--<div data-validate-for="message" class="contact-validate-error_message">{{__SELF__.languageProperties.messageError}}</div>-->
                        {% partial __SELF__ ~ '::partials/clr-submit-button' %}
                        <!-- Injecting reCaptcha if enabled -->
                        {% if(__SELF__.settings.recaptcha_enabled) %}
                        <div class="form-group">
                            <label for="message"></label>
                            <div class="g-recaptcha" data-sitekey="{{__SELF__.settings.recaptcha_site_key}}"></div>
                        </div>
                        {% endif %}
                        <!-- End reCaptcha -->

                    </div>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </form>

    </div>
</div>