<div class="col-lg-4">
    <div class="card-body contact text-center {{__SELF__.result.form_header_background_color}}">
        <div class="mb-5">
            <h5>{{__SELF__.result.info_title}}</h5>
        </div>

        <ul class="contact-icons list-unstyled ml-4">
            <li>
                <i class="fa fa-map-marker"></i>
                {{__SELF__.result.address_data|raw}}
            </li>

            <li>
                <i class="fa fa-phone"></i>
                {{__SELF__.result.phone_data|raw}}
            </li>

            <li>
                <i class="fa fa-envelope"></i>
                {{__SELF__.result.email_data|raw}}
            </li>
        </ul>
        <hr class="hr-light mb-4 mt-4">
    </div>
</div>