<div class="col-lg-7">
    <!--Google map-->
    <div id="map-container" class="rounded z-depth-1-half map-container">
        <script>
            function initMap1() {
                var pos1 = {lat: {{__SELF__.result.map_lat}}, lng: {{__SELF__.result.map_long}}};
                var map = new google.maps.Map(document.getElementById('map-container'), {
                    zoom: {{__SELF__.result.map_zoom}},
                    center: pos1
                });
                var marker = new google.maps.Marker({
                    position: pos1,
                    title: '{{__SELF__.result.marker_title}}',
                    map: map,

                });
                var contentString = '<div id="content">'+
                    '<div id="siteNotice">'+
                    '<h3 id="firstHeading" class="firstHeading">{{__SELF__.result.marker_title}}</h3>'+
                    '<div id="bodyContent">'+
                    '{{ __SELF__.result.marker_description|raw|escape("js") }}'+
                    '</div>'+
                    '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString,
                    maxWidth: 400
                });

                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                });

            }
        </script>
        <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key={{__SELF__.result.api_key}}&amp;callback=initMap1">
        </script>
    </div>
    <style>
        #map-container {
            height: 450px;
            width: 100%;
        }
    </style>
    <br>
    <!--Buttons-->
    <div class="row text-center">
        <div class="col-md-4">
            <a class="btn-floating flynex-blue">
                <i class="fa fa-map-marker"></i>
            </a>
            {{__SELF__.result.address_data|raw}}
        </div>

        <div class="col-md-4">
            <a class="btn-floating flynex-blue">
                <i class="fa fa-phone"></i>
            </a>
            {{__SELF__.result.phone_data|raw}}
        </div>

        <div class="col-md-4">
            <a class="btn-floating flynex-blue">
                <i class="fa fa-envelope"></i>
            </a>
            {{__SELF__.result.email_data|raw}}
        </div>
    </div>

</div>