<section id="contact-{{ __SELF__ }}" class="communicate {{ __SELF__.result.background_color }}"
         style="{% if __SELF__.result.use_background_color_override == 'yes' and __SELF__.result.background_color_override %}background-color: {{ __SELF__.result.background_color_override }} !important;{% endif %}{% if __SELF__.result.background_margin_top != 0 %}margin-top: {{ __SELF__.result.background_margin_top }};{% endif %}{% if __SELF__.result.background_margin_bottom != 0 %}margin-bottom: {{ __SELF__.result.background_margin_bottom }};{% endif %}{% if __SELF__.result.background_padding_top != 0 %}padding-top: {{ __SELF__.result.background_padding_top }};{% endif %}{% if __SELF__.result.background_padding_bottom != 0 %}padding-bottom: {{ __SELF__.result.background_padding_bottom }};{% endif %}">
    <div class="{{ __SELF__.componentProperties['expansion'] }}">

        <!--{{__SELF__.result.title}}<br>

        // card style left right -> clr<br>
        // flat style left right -> flr<br>
        // card map left right -> mlr<br>-->
        <!--{{__SELF__.componentProperties['block-style']}} -
        {{__SELF__.componentProperties['block-style-orientation']}}--><br style="clear:both;"><br><br>

        {% if __SELF__.componentProperties['block-style'] == 'generic' %}
        <div class="card"><div class="row">
            {% partial __SELF__ ~ '::generic/form-material-block' %}
            {% partial __SELF__ ~ '::generic/info-block' %}
        </div></div>
        {% endif %}

        {% if __SELF__.componentProperties['block-style'] == 'clr' and
        __SELF__.componentProperties['block-style-orientation'] == 'left' %}
        <div class="card"><div class="row">
            {% partial __SELF__ ~ '::clr/form-material-block' %}
            {% partial __SELF__ ~ '::clr/info-block' %}
        </div></div>
        {% endif %}

        {% if __SELF__.componentProperties['block-style'] == 'clr' and
        __SELF__.componentProperties['block-style-orientation'] == 'right' %}
        <div class="row">
            {% partial __SELF__ ~ '::clr/info-block' %}
            {% partial __SELF__ ~ '::clr/form-material-block' %}
        </div>
        {% endif %}

        {% if __SELF__.componentProperties['block-style'] == 'flr' and
        __SELF__.componentProperties['block-style-orientation'] == 'left' %}
        <div class="row">
            {% partial __SELF__ ~ '::flr/form-material-block' %}
            {% partial __SELF__ ~ '::flr/info-block' %}
        </div>
        {% endif %}

        {% if __SELF__.componentProperties['block-style'] == 'flr' and
        __SELF__.componentProperties['block-style-orientation'] == 'right' %}
        <div class="row">{% partial __SELF__ ~ '::flr/info-block' %}
            {% partial __SELF__ ~ '::flr/form-material-block' %}
        </div>
        {% endif %}

        {% if __SELF__.componentProperties['block-style'] == 'mlr' and
        __SELF__.componentProperties['block-style-orientation'] == 'left' %}
        <div class="row">{% partial __SELF__ ~ '::mlr/form-material-block' %}
            {% partial __SELF__ ~ '::mlr/info-block' %}
        </div>
        {% endif %}

        {% if __SELF__.componentProperties['block-style'] == 'mlr' and
        __SELF__.componentProperties['block-style-orientation'] == 'right' %}
        <div class="row">{% partial __SELF__ ~ '::mlr/info-block' %}
            {% partial __SELF__ ~ '::mlr/form-material-block' %}
        </div>
        {% endif %}
        <br><br><br>
    </div>
</section>