<div class="col-md-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
    <form id="simpleContactFormXXX" class="wow"
          method="POST"
          action="contact"
          data-request="{{ __SELF__ }}::onFormSubmit"
          data-request-validate>

        {{ form_token() }}
        {{ form_session_key() }}

        <input name="referenceID" type="text" value="{{ __SELF__.properties.referenceID }}"/>

        <!--<div id="simple_contact_flash_message"></div>-->

        <div class="form-group">
            <div class="controls">
                <!--<i class="mdi mdi-account-box"></i>-->
                <input type="text" id="name" name="name" class="form-control"
                       placeholder="{{__SELF__.properties.namePlaceholder}}">
                <div data-validate-for="name" class="help-block with-errors">{{__SELF__.properties.nameError}}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <!--<i class="mdi mdi-email"></i>-->
                <input type="type" id="email" name="email" class="email form-control"
                       placeholder="{{__SELF__.properties.emailPlaceholder}}">
                <div data-validate-for="email" class="help-block with-errors">{{__SELF__.properties.emailError}}</div>
            </div>
        </div>
        {% if(__SELF__.properties.phoneEnabled) %}
        <div class="form-group">
            <div class="controls">
                <input type="text" id="phone" name="phone" class="form-control"
                       placeholder="{{__SELF__.properties.phonePlaceholder}}">
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <div class="controls">
                <input type="text" name="subject" id="msg_subject" class="form-control"
                       placeholder="{{__SELF__.properties.subjectPlaceholder}}">
                <div data-validate-for="subject" class="help-block with-errors">{{__SELF__.properties.subjectError}}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <textarea id="message" name="message" rows="7" placeholder="{{__SELF__.properties.messagePlaceholder}}"
                          class="form-control"></textarea>
                <div data-validate-for="message" class="help-block with-errors">{{__SELF__.properties.subjectError}}</div>
            </div>
        </div>

        {% if __SELF__.result.enableCaptcha %}
        <div class="form-group">
            <div class="g-recaptcha" data-sitekey="{{ __SELF__.result.contactForm.siteKey }}"></div>
        </div>

        <button type="submit" data-attach-loading class="flynex-submit" id="communicateSubmitButton"
                class="g-recaptcha"
                data-sitekey="{{ __SELF__.result.contactForm.siteKey }}"
                data-callback="YourOnSubmitFn">
            {{__SELF__.properties.buttonText}}
        </button>
        {% else %}
        <button type="submit" data-attach-loading class="flynex-submit" id="communicateSubmitButton">
            {{__SELF__.properties.buttonText}}
        </button>
        {% endif %}
        <!--<ul class="alert alert-danger" data-validate-error>
            <li data-message></li>
        </ul>-->
        <div class="clearfix"></div>
    </form>
</div>