<section class="col-md-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
    <form data-request="{{ __SELF__ }}::onFormSubmit" data-request-validate>

        {{ form_token() }}
        {{ form_session_key() }}

        <input name="referenceID" type="hidden" value="{{ __SELF__.languageProperties.referenceID }}"/>

        <!-- Material input text -->
        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="name" name="name" class="form-control">
            <label for="name">{{__SELF__.languageProperties.namePlaceholder}}</label>
            <span data-validate-for="name" class="contact-validate-error_message">{{__SELF__.languageProperties.nameError}}</span>
        </div>

        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="email" id="email" name="email" class="form-control">
            <label for="email">{{__SELF__.languageProperties.emailPlaceholder}}</label>
            <span data-validate-for="email" class="contact-validate-error_message">{{__SELF__.languageProperties.emailError}}</span>
        </div>

        {% if(__SELF__.languageProperties.phoneEnabled) %}
        <div class="md-form">
            <i class="fa fa-phone prefix"></i>
            <input type="text" id="phone" name="phone" class="form-control">
            <label for="phone">{{__SELF__.languageProperties.phonePlaceholder}}</label>
            <span data-validate-for="phone" class="contact-validate-error_message">{{__SELF__.languageProperties.phoneError}}</span>
        </div>
        {% endif %}

        <div class="md-form">
            <i class="fa fa-tag prefix"></i>
            <input type="text" id="subject" class="form-control">
            <label for="subject">{{__SELF__.languageProperties.subjectPlaceholder}}</label>
            <span data-validate-for="subject" class="contact-validate-error_message">{{__SELF__.languageProperties.subjectError}}</span>
        </div>

        <!-- Material textarea message -->
        <div class="md-form">
            <i class="fa fa-pencil prefix grey-text"></i>
            <textarea type="text" id="message" name="message" class="form-control md-textarea" rows="3"></textarea>
            <label for="message">{{__SELF__.languageProperties.messagePlaceholder}}</label>
            <div data-validate-for="message" class="contact-validate-error_message">{{__SELF__.languageProperties.messageError}}</div>

            <div class="text-center mt-4">
                {% if __SELF__.result.enableCaptcha %}
                <div class="md-form">
                    <div class="g-recaptcha" data-sitekey="{{ __SELF__.result.contactForm.siteKey }}"></div>
                </div>

                <button type="submit" data-attach-loading class="btn btn-outline-info ripple nl-button" id="communicateSubmitButton"
                        class="g-recaptcha"
                        data-sitekey="{{ __SELF__.result.contactForm.siteKey }}"
                        data-callback="YourOnSubmitFn">
                    {{__SELF__.languageProperties.buttonText}}
                </button>
                {% else %}
                <button type="submit" data-attach-loading class="btn btn-outline-info ripple nl-button" id="communicateSubmitButton">
                    {{__SELF__.languageProperties.buttonText}}
                </button>
                {% endif %}
            </div>

            <div class="clearfix"></div>
    </form>
</section>