<div class="col-lg-7">

    <!--Google map-->
    <div id="map-container" class="rounded z-depth-1-half map-container" style="height: 400px"></div>

    <br>
    <!--Buttons-->
    <div class="row text-center">
        <div class="col-md-4">
            <a class="btn-floating blue accent-1">
                <i class="fa fa-map-marker"></i>
            </a>
            <p>San Francisco, CA 94126</p>
            <p>United States</p>
        </div>

        <div class="col-md-4">
            <a class="btn-floating blue accent-1">
                <i class="fa fa-phone"></i>
            </a>
            <p>+49 (0) 40 3693 1335</p>
            <p>Mon - Fri, 8:00-22:00</p>
        </div>

        <div class="col-md-4">
            <a class="btn-floating blue accent-1">
                <i class="fa fa-envelope"></i>
            </a>
            <p>info@gmail.com</p>
            <p>sale@gmail.com</p>
        </div>
    </div>

</div>